@import url('animation-guy.css');
@import url('keyframes.css');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dela+Gothic+One&family=Source+Code+Pro:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

/* :root{
    --color-default: #ccc;
    --color-second: tomato;
    --color-third: white;
    --color-fourth: #f06135;
    --color-fifth: #dc3441;
    --color-fifthc: #f33745;
    --color-sixth: #ff4755;
    --color-seventh: #d1313d;
    --color-eighth: #4b4957;
    --color-nineth: #fff5e0;
    --color-tenth: #403f50;
    --color-tenthl: #e8e8e8;
    --color-eleventh: #db6036;
    --logo-default-size: 75px;
    --button-default-background:#49e832;
    --default-black: #2a2b2f;
    
    --font-bebas: 'Bebas Neue', cursive;
    --font-ubuntu: 'Ubuntu Condensed', sans-serif;
} */

body[data-color-mode="dark"]{
    --color-default: #ccc;
    --color-second: tomato;
    --color-third: white;
    --color-fourth: #f06135;
    --color-fifth: #dc3441;
    --color-fifthc: #f33745;
    --color-sixth: #ff4755;
    --color-seventh: #d1313d;
    --color-eighth: #4b4957;
    --color-nineth: #fff5e0;
    --color-tenth: #403f50;
    --color-tenthl: #e8e8e8;
    --color-eleventh: #db6036;
    --logo-default-size: 75px;
    --button-default-background:#49e832;
    --default-black: #2a2b2f;

    /* FONTS CONTROLLER */
    --font-bebas: 'Bebas Neue', cursive;
    --font-ubuntu: 'Ubuntu Condensed', sans-serif;
}

body[data-color-mode="light"]{
    --color-default: #ccc;
    --color-second: tomato;
    --color-third: white;
    --color-fourth: #f06135;
    --color-fifth: #dc3441;
    --color-fifthc: #f33745;
    --color-sixth: #ff4755;
    --color-seventh: #d1313d;
    --color-eighth: #4b4957;
    --color-nineth: #fff5e0;
    --color-tenth: #403f50;
    --color-tenthl: #e8e8e8;
    --color-eleventh: #db6036;
    --logo-default-size: 75px;
    --button-default-background:#49e832;
    --default-black: #2a2b2f;

    /* FONTS CONTROLLER */
    --font-bebas: 'Bebas Neue', cursive;
    --font-ubuntu: 'Ubuntu Condensed', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-fifthc);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--color-fifth);
}

::-webkit-scrollbar-track{
    background: var(--default-black);
    border-radius: 4px;
    /* box-shadow: inset 4px -5px 1px #f0f0f0; */
}

*{
    padding: 0;
    margin: 0;
}

:focus{
    outline: none;
}

body{
    overflow-x: hidden;
}

*, body{
    font-family: var(--font-ubuntu);
    letter-spacing: 1px;
}

header{
    /* height: 55vh; */
    background: var(--default-black);
}

span, p{
    font-family: 'Arial', sans-serif;
}

span.warn{
    color: var(--color-fifth);
}

/*Padrões de fonte*/

h2{
    font-size: 42px;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 16px;
}
/*Fim padrões de fonte*/

button{
    cursor:pointer;
}

a{
    text-decoration: none;
    cursor: pointer;
}

/* SVG Default icons */
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
/* END SVG Default icons */

/*Menu*/
.logo{
    max-width:var(--logo-default-size);
}

.menu-primary{
    transition: all .35s;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 15px 10vw;
}


.menu-primary.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 15px 0;
    justify-content: space-around;
    background: var(--default-black);
    -webkit-box-shadow: 0px 10px 13px -7px rgba(0,0,0, 0.5), 5px 5px 1px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px rgba(0,0,0, 0.5), 5px 5px 1px 5px rgba(0,0,0,0);
}


.menu-primary .list-menu{
    display: flex;
}
.menu-primary .list-menu li{
    width: 10vw;
    padding: 15px 0px;
    list-style: none;
}
.menu-primary .list-menu li a{
    transition: all .35s;
    color: var(--color-third);
    font-family: var(--font-bebas);
    text-decoration: none;
}

.menu-primary .list-menu li a:hover{
    transition: all .35s;

    text-shadow: 0 0 5px #0f1;
}

.menu-primary .list-menu li:after{
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: var(--color-second);
    position: absolute;
    margin: -.8em;
}
.menu-primary .list-menu li:last-child:after{
    content: none;
}
.menu-primary .list-menu li:last-child{
    transition:all .25s;
    border: 2px solid #fff;
    text-align: center;
    padding: 15px 0px;
    width: 7vw;
}

.menu-primary .list-menu li:last-child:hover{
    transition:all .25s;
    border-color: var(--button-default-background);
    background: var(--button-default-background);
    transform:scale(1.1);
}

.menu-primary .list-menu li:last-child:hover > a{
    color:var(--default-black);
}
/*Fim menu*/

/* Mobile menu */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.91);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    /* text-align: center; */
    margin: 0 50px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  .overlay li {
      list-style: none;
  }
  .overlay li a:after{
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: var(--color-second);
    position: absolute;
    margin: -.8em;
}
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
/* Fim mobile menu */


/*Classes geral*/
.box-top{
    padding: 5% 0 70px;
}
.box-top h5 {
    font-weight: bold;
    padding-bottom: 15px;
}
.see_more{
    opacity: 0;
    text-decoration: none;
    font-weight: bold;
    height: 0;
}
.see_more::after {
    /* content: "";
    font-size: 12px;
    position: absolute;
    border: 4px solid;
    margin: 7px 10px;
    border-color: transparent transparent transparent #dc3441; */
}
/*Fim classes geral*/






/*Segunda dobra*/

.segundo-bloco{
    background-image: linear-gradient(to bottom, var(--default-black), var(--color-fifth));
    display: flex;
    flex-direction: column;
    /* height: 80vh; */
    padding: 10% 0 0;
}

.segundo-bloco .left-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.call-to-action button {
    width: 100%;
    padding: 1em;
    transition: all .25s;
    font-family: var(--font-bebas);
    font-size: 1.5em;
    padding: .75em;
    color: var(--default-black);
    border: 2px solid var(--button-default-background);
    background: var(--button-default-background);
}

.call-to-action button:hover{
    transition: all .25s;
    border-color: var(--default-black);
    background: var(--default-black);
    color: var(--button-default-background);
}

.call-to-action {
    width: 98.6%;
    position: absolute;
    /* right: 46%; */
    /* transform: rotate(-90deg); */
}

.segundo-bloco .box-top h5 {
    color: #fff;
}
.segundo-bloco .box-top h2 {
    color: #fff;
}
.segundo-bloco .left-block .box-slider{
    width: 100%;
    display: flex;
    justify-content: center;
}
.segundo-bloco .left-block .box-slider .navegation .arrows{
    margin: 0 20px 5em;
}
.segundo-bloco .left-block .box-slider .navegation .dots {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.segundo-bloco .left-block .box-slider .slideshow-container{
    margin: -40px 30px;
    width: 70%;
}
.segundo-bloco .left-block .box-slider .slideshow-container .mySlides h4{
    color: #fff;
    padding-bottom: 10px;
}
.segundo-bloco .left-block .box-slider .slideshow-container .mySlides .number_lock{
    font-size: 10em;
    font-weight: bold;
    color: #fff;
}
.segundo-bloco .right-block .box-top {
    padding: 50px 80px 70px 48px;
}
.segundo-bloco .right-block .cards {
    display: flex;
    justify-content: space-around;
}
.segundo-bloco .right-block .cards .card {
    width: 13vw;
    /* height: 30vh; */
}
.segundo-bloco .right-block .cards .card .card-header{
    /* width: 249.45px; */
    height: 285px;
    display: flex;
    background: white;
    margin: 0;
    align-items: center;
    justify-content: center;
    transition: all .25s;
}
.segundo-bloco .right-block .cards .card .card-header svg {
    width: 65%;
    height: 65%;
    margin: 0;
    padding: 0;
    transition: all .35s;
}
.segundo-bloco .right-block .cards .card .card-content {
    border: 2px solid #fff;
    border-top: 0;
    margin: -5px 0;
    padding: 14px 15%;
    transition: all .25s;
}
.segundo-bloco .right-block .cards .card .card-content h4, p{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.segundo-bloco .right-block .cards .card .card-content .see_more{
    color: #dc3441;
}
.segundo-bloco .right-block .cards .card:hover{
    transition: all .25s;
    height: 100%;
    position: relative;
}
.segundo-bloco .right-block .cards .card:hover:before{
    transition: all .25s;
    content: '';
    display: block;
    position: absolute;
    width: 60px;
    height: 50px;
    margin-left: -15px;
    margin-top: -15px;
    border-left: 3px solid white;
    border-top: 3px solid white;
}
.segundo-bloco .right-block .cards .card:hover:after{
    transition: all .25s;
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 90px;
    right: -15px;
    bottom: -25px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}
.segundo-bloco .right-block .cards .card:hover .card-content .see_more{
    opacity: 1;
    color: #dc3441;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    height: 100%;
}
.segundo-bloco .right-block .cards .card:hover .card-content {
    padding: 10% 10% 15%;
    background: #fff;
    transition: all .25s;
}
.segundo-bloco .right-block .cards .card:hover .card-content h4 {
    font-size: 22px;
    color: #403f50;
}
.segundo-bloco .right-block .cards .card:hover .card-content h4 span{
    opacity: 0;
    transition: all .25s;
}
.segundo-bloco .right-block .cards .card:hover .card-content p {
    color: #403f50;
    text-transform: uppercase;
    font-size: 10px;
    padding: 5% 0 0 0;
    transition: all .25s;
}
.segundo-bloco .right-block .cards .card:hover .card-header svg{
    transform: scale(1.16) rotate(22deg);
    width:100%;
    height:100%;
    transition: all .25s;
}

/*Fim segunda dobra*/


/*Terceiro bloco*/

.terceiro-bloco {
    display: flex;
    padding: 80px 0;
    background-color: var(--color-fifth);
}

.terceiro-bloco .right-block .box-container{
    display: flex;
    background-color: #fff;
    width: 70%;
    height: 70vh;
}
.terceiro-bloco .right-block .box-container .box-slider{
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-direction: column;
    padding: 10% 0 10% 10%;
}
.terceiro-bloco .right-block .box-container .box-slider .projectSlides {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.terceiro-bloco .right-block .box-container .box-slider .projectSlides svg{
    width: 30%;
    height: 65%;
    position: relative;
    /* left: -22px; */
}

.terceiro-bloco .right-block .box-container .navegation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10% 8% 20% 8%;
    border-left: 1px solid;
    border-color: rgb(76, 74, 88, .3);
}
.terceiro-bloco .right-block .box-container .navegation .arrows{
    margin: 0 -20px;
}
/*Fim terceiro bloco*/


/*Quarto bloco*/

.quarto-bloco{
    padding: 10% 5% 0% 5%;
    /* height:70vh; */
    overflow:hidden;
    background-image: linear-gradient(to bottom, var(--color-fifth), var(--default-black), var(--default-black));
    color:white;
}
.quarto-bloco .cards-box .card {
    /* width: 20%; */
    background:var(--color-fifthc);
    border: 2px solid var(--color-fifthc);
    margin: 10% 0;
    height: 50vh;
    overflow:hidden;
    position: relative;
}
.quarto-bloco .cards-box .card:first-child {
    margin-left: 0;
}
.quarto-bloco .cards-box .card .card-header {
    padding: 50px 0;
    text-align: center;
    position: relative;
}
.quarto-bloco .cards-box .card .card-header svg{
    width: 150px;
    height: 150px;
    transition: all 0.5s;
    position: relative;
    z-index: 2;
}

.quarto-bloco .cards-box .card .card-header .showpts {
    position: absolute;
    right: calc(50% - 35px);
    top: 50%;
    opacity: 0;
    font-size: 2.5em;
    font-family: var(--font-bebas);
    color: var(--color-fifthc);
    z-index: 1;
}

.quarto-bloco .cards-box .card:hover .card-header .showpts{
    opacity: 1;
}


.quarto-bloco .cards-box .card .card-text {
    padding: 10px 20%;
    height:auto;
}


.quarto-bloco .cards-box .card .card-text:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 4px;
    background: white;
    margin: -2% 0;
}

.quarto-bloco .cards-box .card .see_more{
    color: #494752;
    margin-bottom: 71px;
}

.quarto-bloco .cards-box .card .see_more button{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 1em;
    transition: all .25s;
    font-family: var(--font-bebas);
    font-size: 1.5em;
    padding: .75em;
    color: var(--default-black);
    border: 2px solid var(--button-default-background);
    background: var(--button-default-background);
}

.quarto-bloco .cards-box .card .see_more button:hover{
    transition: all .25s;
    border-color: var(--default-black);
    background: var(--default-black);
    color: var(--button-default-background);
}


.quarto-bloco .cards-box .card .see_more span.price{
    font-size: 2.5em;
    font-family: var(--font-bebas);
    color: var(--color-fifthc);
}

.quarto-bloco .cards-box .card:hover {
    background:white;
    color:var(--default-black);
}

.quarto-bloco .cards-box .card:hover .card-text:before {
    background: var(--default-black);
}

.quarto-bloco .cards-box .card:hover .card-header svg{
    transform:translateX(-150px);
    width: 150px;
    height: 150px;
}
.quarto-bloco .cards-box .card .card-text {
    padding: 10px 17%;
}
.quarto-bloco .cards-box .card:hover .card-text h5 {
    padding-bottom: 35px;
    font-size: 20px;
}
.quarto-bloco .cards-box .card:hover .see_more{
    height:auto;
    opacity: 1;
}
.quarto-bloco .cards-box .card:hover {
    transition: all 0.5s;
    height: auto;
    /* width: 23%; */
    margin: -2.5% 0 0 0;
    border:0;
    border-color: var(--color-fifth);
}

/*Fim quarto bloco*/

/*Quinto bloco*/
.quinto-bloco {
    display: flex; 
    background-color: var(--default-black);
    color:white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.quinto-bloco h2{
    position: relative;
    z-index: 2;
    pointer-events: none;
}

.quinto-bloco h5{
    font-size: 18px;
    margin: .5em 0;
    color: #dc3441;
    position: relative;
    z-index: 2;
    pointer-events: none;
}


.quinto-bloco p {
    line-height: 1.5;
    position: relative;
    z-index: 2;
    pointer-events: none;
}

.quinto-bloco .right-block {
    width: 80vw;
}
.quinto-bloco .right-block .cards{
    display: flex;
}
.quinto-bloco .right-block .cards .card{
    /* padding: 0 20% 0 0; */
    position: relative;
    /* width: 400px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.quinto-bloco .right-block .cards .card .card-header svg{
    width: 150px;
    height: 150px;
}

.quinto-bloco .right-block .cards .card .card-container{
    padding: 30% 0 0 0;
    position: relative;
}

.quinto-bloco .right-block .cards .card .card-container h4{
    margin: 0 0 15px 0;
    pointer-events: none;
}
.quinto-bloco .right-block .cards .card .card-container p{
    font-size: 13px;
    pointer-events: none;
}

.quinto-bloco .right-block .cards .card .card-container .pd-card {
    padding-bottom: 15%;
}
.quinto-bloco .right-block .cards .card .card-container .see_more {
    opacity: 1;
    color: #dc3441;
}
.quinto-bloco .right-block .cards .card .card-container:before {
    content: "";
    width: 100%;
    height: 8px;
    position: absolute;
    background: rgb(76, 74, 88, .1);
    margin: -50px 0;
}
/*Fim quinto bloco*/

/*Sexto bloco*/
.sexto-bloco{
    padding: 0 10vw;
    background: var(--default-black);
    color:white;
}
.sexto-bloco .cards{
    display: flex;
    flex-wrap: wrap;
}
.first-card {
    /* width: 23.9%; */
    margin: 0px 13px 40px 0;
}
.sexto-bloco .cards .card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 13px 40px 0;
    align-items: center;
    justify-content: center;
    padding: 6em 0;
}

.sexto-bloco .cards .card img{
    max-width: 45px;
    max-height: 45px;
    border-radius: 100%;
    margin: 25px;
}
/*Fim sexto bloco*/

/* Footer */
footer{
    background-image: linear-gradient(to bottom, var(--default-black), var(--default-black), var(--color-fifth));
    padding: 5% 17% 5% 17%;
    display: flex;
    justify-content: space-between;
}

footer .direitos span {
    color: #fff;
}
/* Fim Footer */

/* BLOCK SLIDER */

.slideshow-container {
  box-sizing:border-box;
  max-width: 1000px;
  position: relative;
  /*margin: auto;*/
  overflow:hidden;
  height:415px;
}

/* Hide the images by default 
.mySlides {
  display: none;
}
*/

/* Next & previous buttons geral */
.prev-arrows, .next-arrows {
  cursor: pointer;
  position: absolute;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slider-dot {
    cursor: pointer;
    pointer-events: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    background:var(--color-tenthl);
}
.inactive{
    pointer-events:none;
}

/* Next & previous buttons geral */



/* Segundo bloco - prev e next arrows - dots*/
.next-arrow {
    margin-bottom: 20px;
    height: 50px;
}
.next {
    margin-bottom: 20px;
    border-radius: 30px;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    background-color: #fff;
}
.next::after{
    content: "";
    position: absolute;
    border: 5px solid;
    margin: 24px 20px;
    border-color: #db6036 transparent transparent transparent;
    
}
.prev-arrow {
    margin-bottom: 20px;
    height: 50px;
}
.prev {
    margin-bottom: 20px;
    border-radius: 30px;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    background-color: #fff;
}
.prev::after{
    content: "";
    border: 5px solid;
    margin: 16px 20px;
    border-color: transparent transparent #db6036 transparent;
    
}
.dot.active::after {
    border: 1px solid #fff;
}


.inactive .prev, .inactive .next{
    border: 1px solid rgb(248, 70, 84, .9);
    background-color: transparent;
}
.inactive .prev::after{
    border-color: transparent transparent #fff transparent;
}
.inactive .next::after{
    border-color: #fff transparent transparent transparent;
}
/* Segundo bloco - prev e next arrows */

/* Terceiro bloco - prev e next arrows - dots*/
.pj-next-arrow {
    margin-bottom: 20px;
    height: 50px;
}
.pj-next {
    margin-bottom: 20px;
    border-radius: 30px;
    border: 1px solid #db6036;
    width: 50px;
    height: 50px;
    background-color: #fff;
}
.pj-next::after{
    content: "";
    position: absolute;
    border: 5px solid;
    margin: 24px 20px;
    border-color: #db6036 transparent transparent transparent;
    
}
.pj-prev-arrow {
    margin-bottom: 20px;
    height: 50px;
}
.pj-prev {
    margin-bottom: 20px;
    border-radius: 30px;
    border: 1px solid #db6036;
    width: 50px;
    height: 50px;
    background-color: #fff;
}
.pj-prev::after{
    content: "";
    border: 5px solid;
    margin: 16px 20px;
    border-color: transparent transparent #db6036 transparent;
    
}

.pj-dot {
    margin-bottom: 20px;
}
.pj-dot.active, .pj-dot:hover {
    /*background-color: #eeeeee;*/
    background-color: #d03143;
}
.pj-dot::after {
    border: 1px solid #d03143;
}
.pj-dot:hover::after {
    content: "";
    position: absolute;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: -3px -3px;
    height: 14px;
    width: 14px;
    border: 1px solid #d03143;
}

.inactive .pj-prev, .inactive .pj-next{
    border: 1px solid rgb(76, 74, 88, .5);
    background-color: transparent;
}
.inactive .pj-prev::after{
    border-color: transparent transparent #4c4a58 transparent;
}
.inactive .pj-next::after{
    border-color: #4c4a58 transparent transparent transparent;
}
/* Terceiro bloco - prev e next arrows */




/* On hover, add a black background color with a little bit see-through */
/*.prev:hover {
    border-color: transparent transparent yellow transparent;
}
.next:hover{ 
    border-color: yellow transparent transparent transparent;
}*/



/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    /* padding: 8px 12px; */
    width: 90%;
    /* text-align: center; */
    /* margin: 0 auto; */
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



/* The dots/bullets/indicators */
.dots{
    display: flex;
    flex-direction: column;
}
.dot {
  cursor: pointer;
  pointer-events: none;
  height: 10px;
  width: 10px;
  margin: 15px 0;
  position: relative;
  left: 5px;
  /*background-color: rgba(9,9,9,0.1);*/
  background-color:#fe4857;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot.active, .dot:hover {
  background-color: #fff;
}
.slider-dot.active::after {
    content: "";
    position: absolute;
    border-radius: 10px;
    margin: -3px -3px;
    height: 14px;
    width: 14px;
}
.dot:hover::after {
    content: "";
    position: absolute;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: -3px -3px;
    height: 14px;
    width: 14px;
    border: 1px solid #fff;
}



.double-header{
    display:flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.copy-squad{
    color: white;
    /* width: 35vw; */
    margin: 0 auto 0 0;
    position: relative;
}

.copy-squad .main-call{
    width: 100%;
    height: 60px;
    margin: 0 0 .5em 0;
}

.copy-squad .main-call p{
    text-transform: uppercase;
    font-size: 26px;
    margin: 0 .5em 0 0;
    float: left;
    font-family: var(--font-ubuntu);
}

.copy-squad .main-call span{
    font-family: var(--font-ubuntu);
    font-weight: bold;
    font-size: 26px;
    position: relative;
    top: -2px;
    text-shadow: 0 0 5px #0f1, 0 0 10px #46ff00, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18, 2px 2px 1px rgb(221 40 211 / 0%);
}

.copy-squad .warns{
    display: flex;
    flex-wrap: wrap;
    margin: .5em 0 2em 0;
    clear: both;
}

.copy-squad .warns p {
    font-family: var(--font-ubuntu);
}

.copy-squad .warns span:first-child{
    margin: 0 .5em 0 0;
}

.copy-squad .warns span{
    font-family: var(--font-ubuntu);
    margin: 0 .5em 0 .5em;
    font-weight: bold;
}

.copy-squad .warns p, .copy-squad .warns span{
}


.copy-squad button{
    margin: .5em 0 0 0;
    transition: all .25s;
    font-family: var(--font-bebas);
    font-size: 1.5em;
    padding:.75em;
    color: var(--button-default-background);
    border: 2px solid;
    background:transparent;
}

.copy-squad button:hover{
    transition: all .25s;
    background: var(--button-default-background);
    border-color: var(--button-default-background);
    color:var(--default-black);
    transform: scale(1.1);
}

.animate-guy{
    display: flex;
    width: 50%;
    height: 80%;
    justify-content: center;
    align-items: center;
}


.level-up{
    max-width: 210px;
    animation: levelUp 2s ease-in-out forwards;
}

.level-up span {
    font-family: var(--font-bebas);
    font-size: 1.5em;
    z-index: 9;
    padding: 1.85px .35em;
    position: relative;
    top: -5px;
    background: var(--button-default-background);
}

.level-up h3{
    font-family: var(--font-bebas);
    color:white;
    font-size: 2.5em;
    text-shadow: 0 0 5px #0f1, 0 0 10px #46ff00, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18, 2px 2px 1px rgb(221 40 211 / 0%);
}

.level-up svg{
    width: 100%;
    height: 100%;
    max-width: 35px;
    max-height: 35px;
}

.logo-box{
    max-width: 110px;
}

.terceiro-bloco .left-block{
    display:flex;
}

.terceiro-bloco .left-block .box-container{
    background: var(--color-fifthc);
    width: 70%;
    height: 70vh;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.terceiro-bloco .left-block .box-container .viking {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.terceiro-bloco .left-block .box-container .viking svg{
    margin-left: 6%;
}



.roll{
  transition:all .55s ease-in-out;
  height:100%;
  overflow:visible;
}
.rock{
  transition:all .45s ease-in-out;
  height:0;
  opacity:0;
}
.roll.rock{
  transition:all .35s ease-in-out;
  height:0;
  opacity:0;
}

.quinto-bloco .left-block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    width: 50%;
}


.zoom-input {
    transition: all .35s;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    padding: .5em;
    display: flex;
    justify-content: center;
    margin: 0 35px 0 0;
    position: absolute;
    cursor: pointer;
    z-index: 9;
    border: 1px solid;
    top: 20%;
    right: 20%;
}

.zoom-input.inactive{
    transition: all .35s;
    border-color: var(--color-fifthc);
    fill: var(--color-fifthc);
    pointer-events: fill;
}

.zoom-input.active{
    transition: all .35s;
    border-color: var(--button-default-background);
    fill: var(--button-default-background);
}

.zoom-input svg{
    width:100%;
    height: 100%;
}



.ranking{
    position: absolute;
}

.ranking svg{
    width:45px;
    height: 45px;
    opacity: 1;
    filter: drop-shadow(2px 1px 4px #000);
    cursor: pointer;
    opacity: .35;
}


.ranking svg.dragged{
    filter: drop-shadow(2px 1px 25px var(--button-default-background));
    transform: rotate(0deg) scale(1.25) !important;
    opacity: 1;
    z-index: 99;
}


.w-60{
    width: 60%;
}

.form-visible, .body-lock{
    transition: all .35s;
    overflow:hidden;
}

.modal-controller.hidden{
    transition: all .35s;
    opacity: 0;
    pointer-events: none;
}

.modal-controller.hidden.active{
    transition: all .35s;
    opacity: 1;
    pointer-events: fill;
}

.modal-controller.hidden.active .modal-content{
    transform: translateY(10px)
}

.modal-controller{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, .5);
    position: fixed;
    top: 0;
    left:0;
    display: flex;
    align-items:center;
    justify-content:center;
    backdrop-filter: blur(10px);
    z-index: 99;
}

.modal-controller .icon-game-over {
    transition: all .35s;
    position: absolute;
    top: 15%;
    right: 25%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color:white;
}

.modal-controller span {
    transition: all .35s;
    position: absolute;
    top: 15%;
    right: 25%;
    pointer-events: none;
    font-family: var(--font-bebas);
    color:white;
    transform: translateY(0);
    width: 0;
    overflow:hidden;
    opacity: 0;
}

.modal-controller .icon-game-over:hover {
    transition: all .25s;
    transform: rotate(15deg) scale(1.1);
}

.modal-controller .icon-game-over:hover + span{
    transition: all .35s;
    width: auto;
    transform: translateY(-35px);
    opacity:1;
}



.modal-controller .modal-content{
    background: rgb(212 217 247);
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/designergif.gif');
    background-position: bottom right 30px;
    background-size: 26.45%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    font-family: var(--font-bebas);
}

.modal-controller .modal-content h1{
    font-family: var(--font-bebas);
    font-size: 24px;
    color: var(--default-black);
    position: absolute;
    top: 10vh;
    z-index: 9;
}

.modal-controller .modal-content .form-content{
    width: 96%;
    height: 100%;
    padding: 1em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modal-controller .modal-content .form-content input{
    border: 1px solid white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255, 1); 
    box-shadow: 0px 0px 5px 0px rgba(255,255,255, 1);
}

.modal-controller .modal-content .form-content input:focus:valid {
    border: 1px solid var(--button-default-background);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(73,232,50, 1); 
    box-shadow: 0px 0px 5px 0px rgba(73,232,50, 1);
}

.modal-controller .modal-content .form-content input:invalid {
    border: 1px solid var(--color-fifthc);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(243,55,69, 1); 
    box-shadow: 0px 0px 5px 0px rgba(243,55,69, 1); 
}


body.spin:before{
    position: absolute;
    pointer-events: none;
    width: 102%;
    height: 100%;
    background:white;
    z-index: 9;
    display:flex;
    align-items: center;
    justify-content:center;
}


.modal-controller .modal-content .form-content .spin svg{
    width: 40%;
    height: 40%;
    animation: rotateShake 6s infinite ease-in-out;
}

.modal-controller .modal-content .form-content .spin.hidden{
    transition: all .25s;
    opacity:0;
}

.modal-controller .modal-content .form-content .spin{
    position: absolute;
    pointer-events: none;
    width: 102%;
    height: 100%;
    background:white;
    z-index: 9;
    display:flex;
    align-items: center;
    justify-content:center;

}

.modal-controller .modal-content .form-content:before{
    content:'';
    width: 105%;
    height: 1px;
    background: var(--default-black);
    position: absolute;
    transform: rotate(-11deg);
    top: 72%;
}

.modal-controller .modal-content .form-content:after{
    content:'';
    background-image: url('./assets/logo_w.png');
    background-position: top left 30px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .25;
    pointer-events: none;
}

.modal-controller .modal-content .form-content input{
    width: 47.6%;
    padding: .8em;
    margin: .5em 0 0 0;
    border: 0;
    background: white;
    color:var(--default-black);
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
    position: relative;
}

.modal-controller .modal-content .form-content .btn-submit{
    margin: .5em 0 0 0;
    transition: all .25s;
    width:50%;
    padding: 1em;
    background: var(--default-black);
    border:0;
    cursor: pointer;
    z-index: 9;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
}

.modal-controller .modal-content .form-content .btn-submit:hover{
    transition: all .25s;
    transform: scale(1.02);
}

.messageError, .messageSuccess {
    padding: 1em;
    position: absolute;
    z-index: 1;
    bottom: 0;
    border-radius: 10px 10px 0 0;
}

.messageError{
    background: var(--color-fifthc);
}

.messageSuccess{
    background: var(--default-black);
}

.messageSuccess p{
    color: var(--button-default-background);
}

.messageError p, .messageSuccess p {
    font-size: 18px !important;
    font-family: 'Bebas Neue';
}


.messageError.hidden, .messageSuccess.hidden{
    transition: all .35s;
    transform: translate(0, 110%);
    opacity: 0;
}

/* END BLOCK SLIDER */


@media (max-width: 768px) {
    .desktop-menu{
        display: none;
    }
    .mobile-menu .button-menu{
        font-size: 35px;
        color: #fff;
        margin-top: -5px;
        position: relative;
        left: -15px;
    }

    .double-header {
        flex-direction: column;
    }
    .segundo-bloco{
        flex-direction: column;
    }
    .segundo-bloco .right-block .box-top h2{
        font-size: 36px;
    }
    .segundo-bloco .right-block .cards {
        flex-direction: column;
    }
    .segundo-bloco .right-block .cards .card {
        width: 85vw;
        margin: 0 auto 15%;
    }
    .terceiro-bloco {
        flex-direction: column;
    }
    .terceiro-bloco .right-block .box-container {
        width: 90%;
        margin: 0 auto;
    }
    .quarto-bloco {
        padding: 10% 5% 10% 5%;
    }
    .quinto-bloco {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .quinto-bloco .right-block .cards {
        flex-direction: column;
        padding-bottom: 45px;
    }
    .quinto-bloco .right-block .cards li{
        width: 100%
    }
    .sexto-bloco .cards .card {
        display: flex;
        padding: 0em 0;
        width: 40%;
        text-align: center;
    }
    .first-card {
        /* width: 23.9%; */
        margin: 0px 13px 40px 0;
    }
    .call-to-action {
        width: 100%;
        bottom: 0;
    }
    .copy-squad {
        margin: 0 10%;
    }

    .prev-arrow{
        margin-right: 40px;
    }
    .next-arrow {
        margin-right: 40px;
    }
    .ranking {
        display: none;
    }
    .modal-controller .modal-content {
        width: 90vw;
        height: 65vh;
    }
    .modal-controller .icon-game-over {
        top: 10%;
        right: 5%;
    }

    .modal-controller .modal-content .form-content .btn-submit {
        width: 54%;
    }
}

@media (min-width:768px){
    header{
        height: 55vh;
    }
    .mobile-menu {
        display: none;
    }
    .copy-squad {
        width: 35vw;
    }
    .segundo-bloco{
        flex-direction: row;
        height: 80vh;
    }
    .segundo-bloco .left-block{
        width: 50vw;
    }
    .segundo-bloco .left-block .box-slider .slideshow-container{
        width: 35%;
    }
    .segundo-bloco .left-block .box-slider .navegation{
        width: 10%;
    }
    .segundo-bloco .left-block .box-slider .slideshow-container{
        margin: -60px 50px;
    }
    .segundo-bloco .left-block .box-slider .slideshow-container .mySlides .number_lock{
        font-size: 10em;
    }
    .segundo-bloco .right-block .cards .card {
        height: 30vh;
    }
    .segundo-bloco .right-block .cards .card .card-header{
        width: 249.45px;
    }
    .terceiro-bloco .left-block {
        width: 50vw;
    }
    .terceiro-bloco .left-block .box-container{
        margin: 0 0 0 auto;
    }
    .terceiro-bloco .right-block .box-container .box-slider .projectSlides svg{
        left: -22px;
    }
    .segundo-bloco .right-block {
        width: 60vw;
    }
    .terceiro-bloco .right-block{
        width: 50vw;
    }
    .quarto-bloco {
        height: 70vh;
        padding: 10% 5% 10% 17%;
    }
    .quarto-bloco .cards-box {
        display: flex;
    }
    .quarto-bloco .cards-box .card {
        width: 20%;
        margin: 1%;
        height: 35%;
    }
    .quarto-bloco .cards-box .card:hover {
        width: 23%;
    }
    .quinto-bloco .right-block {
        width: 50vw;
    }
    .quinto-bloco .right-block .cards .card {
        padding: 0 20% 0 0; 
        width: 400px;
    }
    .first-card {
        /* width: 23.9%; */
        margin: 0px 13px 40px 0;
    }

    .call-to-action {
        right: 46%;
        transform: rotate(-90deg);
    }
}

@media (min-width:1023px) and (max-width:1025px) {
    h2 {
        font-size: 26px;
    }
    .segundo-bloco {
        justify-content: center;
        height: 100vh;
    }
    .segundo-bloco .left-block {
        width: 30vw;
    }
    .segundo-bloco .left-block .box-slider .navegation .arrows {
        margin: 0 -12px 5em;
    }
    .segundo-bloco .left-block .box-slider .slideshow-container {
        width: auto;
    }
    .segundo-bloco .left-block .box-slider .slideshow-container {
        width: auto;
    }
    .segundo-bloco .left-block .box-slider .slideshow-container .mySlides .number_lock {
        font-size: 8em;
    }
    .segundo-bloco .right-block .box-top {
        padding: 16px 80px 70px 48px;
    }
    .segundo-bloco .right-block .cards .card {
        width: 19vw;
    }
    .segundo-bloco .right-block .cards .card .card-header {
        width: 100%;
        height: 246px;
    }
    .segundo-bloco .right-block .cards .card .card-content h4, p {
        font-size: 12px;
    }
    .segundo-bloco .right-block .cards .card:hover .card-header svg {
        width: 85%;
        height: 85%;
    }
    .segundo-bloco .right-block .cards .card:hover .card-content h4 {
        font-size: 20px;
    }
    .segundo-bloco .right-block .cards .card:hover .card-content .see_more {
        font-size: 10px;
    }
    .call-to-action {
        width: 122.6%;
    }
    .terceiro-bloco .right-block .box-container .box-slider .projectSlides svg {
        left: -10px;
    }
    .terceiro-bloco .right-block .box-container .box-slider .slideshow-container .card-header h2 {
        font-size: 32px;
    }
    .terceiro-bloco .right-block .box-container .box-slider .slideshow-container .card-content h3 {
        font-size: 28px;
    }
    .quarto-bloco .cards-box .card .card-header {
        padding: 22px 0;
        text-align: center;
        position: relative;
    }
    .quarto-bloco .cards-box .card .card-header svg {
        width: 80px;
        height: 80px;
    }
    .quarto-bloco .cards-box .card .card-header .showpts {
        top: 45%;
        font-size: 2em;
    }
    .quarto-bloco .cards-box .card .card-text h5 {
        font-size: 12px;
    }
    .quarto-bloco .cards-box .card .card-text:before {
        margin: -10% 0;
    }
    .quarto-bloco .cards-box .card:hover .card-header svg {
        transform: translateX(-80px);
        width: 80px;
        height: 80px;
    }
    .quarto-bloco .cards-box .card:hover .card-text h5 {
        padding-bottom: 15px;
        font-size: 12px;
    }
}

@media (min-width:1366px) and (max-width:1367px) {
    .segundo-bloco {
        justify-content: center;
        height: 100vh;
    }
    .segundo-bloco .left-block {
        width: 35vw;
    }
    .segundo-bloco .left-block .box-slider .navegation .arrows {
        margin: 0px 0px 5em;
    }
    .segundo-bloco .right-block {
        width: 50vw;
    }
    .segundo-bloco .right-block .cards .card {
        width: 15vw;
    }
    .segundo-bloco .right-block .cards .card .card-header {
        width: 100%;
    }
    .segundo-bloco .right-block .cards .card:hover .card-content h4 span {
        font-size: 0;
    }
    .segundo-bloco .right-block .cards .card:hover .card-content .see_more {
        font-size: 10px;
    }
    .segundo-bloco .right-block .cards .card .card-content h4, p {
        font-size: 12px;
    }
    .terceiro-bloco .right-block .box-container .box-slider .projectSlides svg {
        left: -10px;
    }
    .terceiro-bloco .right-block .slideshow-container .card-header h2 {
        font-size: 36px;
    }
    .terceiro-bloco .right-block .box-container .box-slider .projectSlides svg {
        width: 25%;
    }
    .quarto-bloco .cards-box .card .card-header svg {
        width: 120px;
        height: 120px;
    }
    .quarto-bloco .cards-box .card:hover .card-header svg {
        transform: translateX(-110px);
        width: 120px;
        height: 120px;
    }
    .quarto-bloco .cards-box .card .card-header {
        padding: 20px 0;
    }
    .quarto-bloco .cards-box .card .see_more span.price {
        font-size: 2em;
    }
    .quarto-bloco .cards-box .card:hover .card-text h5 {
        padding-bottom: 15px;
    }
    .quinto-bloco h2 {
        font-size: 38px;
    }
    .quinto-bloco .right-block {
        width: 45vw;
    }
    .quinto-bloco .right-block .cards .card {
        padding: 0 15% 0 0;
        width: 400px;
    }
    .quinto-bloco .left-block {
        align-items: center;
    }
}



/* Page protifolio */
.blockrender{
    position: fixed;
    top:0;
    left: 0;
    z-index: 99;
}

.blockrender.opened{
    transition: all .35s;
    position: fixed;
    overflow-x: scroll;
    width: 100%;
}

.blockrender.closed{
    transition: all .35s;
    pointer-events: none;
    overflow:hidden;
    left: 0;
    transform: translateX(-100%);
}

.close-portifolio{
    transition: all .35s;
    padding: .5em 1.5em;
    text-align: right;
    background: var(--color-fifthc);
    position: absolute;
    right: 0;
    color: white;
    cursor: pointer;
    font-family: var(--font-bebas);
}

.close-portifolio:hover{
    transition: all .35s;
    transform: scale(1.1);
}

.projects {
    background: var(--default-black);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.projects h2{
    text-align: center;
    margin: 1em 0 0 0;
    color:white;
}

.projects iframe {
    height: 50vh;
    width: 40vw;
}

.projects .card{
    position: relative;
    margin-top: 55px;
}

.projects .developer-credit {
    background: var(--color-tenth);
    position: absolute;
    width: 100%;
    height: 61px;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.projects .uglify-bottom {
    position: absolute;
    background: var(--color-tenth);
    width: 100%;
    height: 35px;
    bottom: 0;
}

.projects .developer-credit .points, .projects .developer-credit .name {
    color: white;
    font-size: 18px;
    font-family: var(--font-ubuntu);
    display: flex;
    align-items: center;
}

.projects .developer-credit .points p{
    margin: 0 .5em;
}

.projects .developer-credit .points svg{
    width: 25px;
    height: 25px;
}

.developer-credit img {
    border-radius: 100%;
    width: 40px;
    margin: 10px;
}

.projects .projectsCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.langs {
    position: fixed;
    top: 1.65%;
    right: 2%;
    z-index: 11;
}

.langs svg{
    transition: all .35s;
    max-width: 25px;
    max-height: 25px;
    cursor: pointer;
}

.lang-en.fakeHover{

}

.lang-pt.fakeHover:before, .lang-en.fakeHover:before{
    content:'';
    position: absolute;
    display: block;
    width:8px;
    height:8px;
    border-radius: 100%;
    top: 13px;
    left:-15px;
    background: var(--color-fifthc);
    animation: pulse 6s infinite ease-in-out;
}


.langs .lang-en.fakeHover, .langs .lang-pt.fakeHover, .langs svg:hover{
    transition: all .35s;
    transform: scale(1.15) rotate(-15deg);  
}

.bloco-faq{
    background-color: var(--default-black);
    padding: 10%;
}

.bloco-faq h2{
    color:white;
    font-family: var(--font-ubuntu);
    margin-bottom: 25px;
}


  .accordion .accordion-item {
    /* border-bottom: 1px solid #e5e5e5; */
  }

  .accordion .accordion-item button[aria-expanded=true] {
    /* border-bottom: 1px solid var(--button-default-background); */
  }

  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: white;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  .accordion button:hover, .accordion button:focus {
    /* cursor: pointer;
    color: #03b5d2; */
  }
  .accordion button:hover::after, .accordion button:focus::after {
    /* cursor: pointer;
    color: #03b5d2;
    border: 1px solid #03b5d2; */
  }
  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
  }
  .accordion button .iconf {
    background: white;
    border-radius: 100%;
    padding: .5em .25em;
  }

  .accordion button .iconf svg{
      width: 35px;
      height: 35px;
  }

  .accordion-item button[aria-expanded=true] .iconf svg{
      transition: all .25s;
      position: relative;
      left: 2px;
      top: -3px;
      transform: scale(1.1) rotate(15deg);
  }

  .accordion button .icon::before {
    /* display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor; */
  }
  .accordion button .icon::after {
    /* display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor; */
  }
  .accordion button[aria-expanded=true] {
    color: var(--button-default-background);
  }
  .accordion button[aria-expanded=true] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded=true] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    border:1px solid var(--button-default-background);
    border-radius: 15px;
    width: 50%;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    border:1px solid var(--button-default-background);
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    width: 50%;
    will-change: opacity, max-height;
  }

  .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: .5em 0;
    padding: 1em;
  }

  .line-render {
    position: absolute;
    margin-left: 59px;
    margin-top: -103px;
    height: 158px;
    overflow: hidden;
    transform: skewY(30deg) translateY(0);

 }

 .code-animation{
    transition: all .35s;
    width: 419px;
    height: 379px;
    position: relative;
    top: -43px;
    animation: toTop 16s ease-out forwards;
 }

  .code-animation .lines path {
    transition: all .35s;
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
  }
  
  .code-animation.animating .lines path {
    transition: all .35s;
    animation: coding 350ms ease-out forwards;
  }

  text.Rrrrr {
    /* font: var(--font-bebas) 20px; */
    fill: white;
    font-size: 45px;
    font-family: var(--font-bebas);
}




@media only screen and (max-width:992px){
    .code-guy svg {
    width: 50vw;
    height: 36vh;
    }

    .langs {
        right: 3%;
    }

    .direitos {
        margin: 0 0 0 1.5em;
    }

    .quinto-bloco .box-top {
        padding: 5% 15px;
    }

    .box-top {
        padding: 5% 36px;
    }

    .segundo-bloco .right-block .cards .card .card-content {
        text-align: center;
    }


    .segundo-bloco .left-block {
        align-items: unset;
    }

    .w-60 {
        width: 100%;
    }

    .terceiro-bloco .left-block .box-container {
        width: 90%;
    }

    .quinto-bloco .left-block {
        margin-top: -5em;
        width: 100%;
        height: 70vh;
        pointer-events: none;
    }

    #sec5-card1-detail{
        margin: 0 0 50px 0;
    }

    .bloco-faq {
        padding: 5%;
    }

    .accordion button .accordion-title {
        padding: 1em .25em .5em 0em;
    }

    .accordion button[aria-expanded=true] + .accordion-content {
        width: 100%;
        margin: 20px 0;
    }

    .accordion .accordion-content {
        width: 100%;
    }

    .quinto-bloco .right-block {
        width: 90vw;
    }

    .quinto-bloco .left-block .smartcity{
        width: 100%;

    }

    .zoom-input {
        right: unset;
        display: none;
    }



    .copy-squad .warns span {
        margin: 0 .5em 0 0;
    }

    .animate-guy{
        position: relative;
        width: auto;
    }

    .line-render{
        position: absolute;
        margin-left: -66px;
        margin-top: -58px;
        height: 71px;
        overflow: hidden;
        transform: skewY(30deg) translateY(0);
    }

    .code-animation {
        transition: all .35s;
        width: 40vw;
        height: 20vh;
        position: relative;
        top: 0 !important;
        -webkit-animation: toTop 16s ease-out forwards;
        animation: toTop 16s ease-out forwards;
    }


    @-webkit-keyframes toTop{
        to{
          top: -53px;
        }
    }

    @keyframes toTop{
        to{
          top: -53px;
        }
    }
}

  @keyframes toTop{
      to{
        top: -253px;
      }
  }
  
  @keyframes coding {
    to {
      stroke-dashoffset: 0;
    }
  }