@import url('animation-guy.css');
@import url('keyframes.css');

body[data-color-mode="dark"]{
    --color-default: #ccc;
    --color-second: tomato;
    --color-third: white;
    --color-fourth: #f06135;
    --color-fifth: #dc3441;
    --color-fifthc: #f33745;
    --color-sixth: #ff4755;
    --color-seventh: #d1313d;
    --color-eighth: #4b4957;
    --color-nineth: #fff5e0;
    --color-tenth: #403f50;
    --color-tenthl: #e8e8e8;
    --color-eleventh: #db6036;
    --logo-default-size: 75px;
    --button-default-background:#49e832;
    --default-black: #2a2b2f;

    /* FONTS CONTROLLER */
    --font-bebas: 'Bebas Neue', cursive;
    --font-ubuntu: 'Ubuntu Condensed', sans-serif;
}

body[data-color-mode="light"]{
    --color-default: #ccc;
    --color-second: tomato;
    --color-third: white;
    --color-fourth: #f06135;
    --color-fifth: #dc3441;
    --color-fifthc: #f33745;
    --color-sixth: #ff4755;
    --color-seventh: #d1313d;
    --color-eighth: #4b4957;
    --color-nineth: #fff5e0;
    --color-tenth: #403f50;
    --color-tenthl: #e8e8e8;
    --color-eleventh: #db6036;
    --logo-default-size: 75px;
    --button-default-background:#49e832;
    --default-black: #2a2b2f;

    /* FONTS CONTROLLER */
    --font-bebas: 'Bebas Neue', cursive;
    --font-ubuntu: 'Ubuntu Condensed', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-fifthc);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--color-fifth);
}

::-webkit-scrollbar-track{
    background: var(--default-black);
    border-radius: 4px;
    /* box-shadow: inset 4px -5px 1px #f0f0f0; */
}

*{
    padding: 0;
    margin: 0;
}

:focus{
    outline: none;
}

body{
    overflow-x: hidden;
}

*, body{
    font-family: var(--font-ubuntu);
    letter-spacing: 1px;
}

header{
    /* height: 55vh; */
    background: var(--default-black);
}

span, p{
    font-family: 'Arial', sans-serif;
}

span.warn{
    color: var(--color-fifth);
}

/*Padrões de fonte*/

h2{
    font-size: 42px;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 16px;
}
/*Fim padrões de fonte*/

button{
    cursor:pointer;
}

a{
    text-decoration: none;
    cursor: pointer;
}

/* SVG Default icons */
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
/* END SVG Default icons */

/*Classes geral*/
.box-top{
    padding: 5% 0 70px;
    h5 {
        font-weight: bold;
        padding-bottom: 15px;
    }
}

.see_more{
    opacity: 0;
    text-decoration: none;
    font-weight: bold;
    height: 0;
}
/*Fim classes geral*/


/*Menu*/
.logo{
    max-width:var(--logo-default-size);
}

.menu-primary{
    transition: all .35s;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 15px 10vw;

    &.fixed{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        padding: 15px 0;
        justify-content: space-around;
        background: var(--default-black);
        -webkit-box-shadow: 0px 10px 13px -7px rgba(0,0,0, 0.5), 5px 5px 1px 5px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px rgba(0,0,0, 0.5), 5px 5px 1px 5px rgba(0,0,0,0);
    }

    .list-menu{
        display: flex;

        li{
            width: 10vw;
            padding: 15px 0px;
            list-style: none;

            &:last-child{
                transition:all .25s;
                border: 2px solid #fff;
                text-align: center;
                padding: 15px 0px;
                width: 7vw;

                &:hover{
                    transition:all .25s;
                    border-color: var(--button-default-background);
                    background: var(--button-default-background);
                    transform:scale(1.1);

                    & > a{
                        color:var(--default-black);
                    }
                }

                &:after{
                    content: none;
                }
            }

            &:after{
                content: '';
                display: block;
                width: 5px;
                height: 5px;
                border-radius: 5px;
                background: var(--color-second);
                position: absolute;
                margin: -.8em;
            }

            a{
                transition: all .35s;
                color: var(--color-third);
                font-family: var(--font-bebas);
                text-decoration: none;

                &:hover{
                    transition: all .35s;
                
                    text-shadow: 0 0 5px #0f1;
                }
            }
        }
    }
}

/*Fim menu*/


/* Mobile menu */
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    /* text-align: center; */
    margin: 0 50px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.91);
    overflow-x: hidden;
    transition: 0.5s;

    a {
        padding: 8px;
        text-decoration: none;
        font-size: 18px;
        color: #fff;
        display: block;
        transition: 0.3s;

        &:hover, &:focus {
            color: #f1f1f1;
        }
    }

    li {
        list-style: none;

        a{
            &:after{
                content: '';
                display: block;
                width: 5px;
                height: 5px;
                border-radius: 5px;
                background: var(--color-second);
                position: absolute;
                margin: -.8em;
            }
        }
    }

    .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
}

  
/* Fim mobile menu */


/*Segunda dobra*/

.segundo-bloco{
    background-image: linear-gradient(to bottom, var(--default-black), var(--color-fifth));
    display: flex;
    //flex-direction: column;
    /* height: 80vh; */
    padding: 10% 0 0;
    .left-block{
        display: flex;
        flex-direction: column;
        //align-items: center;

        .box-top{
            padding: 5% 80px;
        }

        .box-slider{
            width: 100%;
            display: flex;
            justify-content: center;

            .slideshow-container{
                margin: -40px 30px;
                width: 70%;

                .mySlides {

                    .number_lock{
                        font-size: 10em;
                        font-weight: bold;
                        color: #fff;
                    }

                    h4{
                        color: #fff;
                        padding-bottom: 10px;
                    }
                }
            }

            .navegation {

                .dots {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .arrows{
                    margin: 0 20px 5em;
                }
            }
        }
    }

    .right-block {
        .box-top {
            padding: 50px 80px 70px 18px;
        }

        .cards {

            display: flex;
            justify-content: space-around;

            .card {

                flex:1;
                margin: 0 1em;

                &:hover{

                    .card-content{
                        padding: 10% 10% 15%;
                        background: #fff;
                        transition: all .25s;
                        height: auto;
                        position: relative;
    
                            // &:before{
                            //     transition: all .25s;
                            //     content: '';
                            //     display: block;
                            //     position: absolute;
                            //     width: 60px;
                            //     height: 50px;
                            //     margin-left: -15px;
                            //     margin-top: -15px;
                            //     border-left: 3px solid white;
                            //     border-top: 3px solid white;
                            // }
    
                            &:after{
                                transition: all .25s;
                                content: '';
                                display: block;
                                position: absolute;
                                width: 50px;
                                height: 90px;
                                right: -15px;
                                bottom: -25px;
                                border-right: 3px solid white;
                                border-bottom: 3px solid white;
                            }
    
                        

                        p {
                            color: #403f50;
                            text-transform: uppercase;
                            font-size: 10px;
                            padding: 5% 0 0 0;
                            transition: all .25s;
                        }

                        h4 {
                            font-size: 22px;
                            color: #403f50;

                            span{
                                opacity: 0;
                                transition: all .25s;
                            }
                        }
                    }

                    .card-header{
                        svg{
                            transform: scale(1.16) rotate(22deg);
                            width:100%;
                            height:100%;
                            transition: all .25s;
                            z-index: 9;
                        }
                    }

                    .see_more{
                        opacity: 1;
                        color: #dc3441;
                        text-decoration: none;
                        font-size: 12px;
                        font-weight: bold;
                        height: auto;
                    }
                }

                .card-header{
                    /* width: 249.45px; */
                    height: 100%;
                    display: flex;
                    background: white;
                    margin: 0;
                    align-items: center;
                    justify-content: center;
                    transition: all .25s;

                    svg {
                        width: 65%;
                        height: 65%;
                        margin: 0;
                        padding: 0;
                        transition: all .35s;
                    }

                }

                .card-content{
                    border: 2px solid #fff;
                    border-top: 0;
                    margin: -5px 0;
                    padding: 14px 15%;
                    transition: all .25s;

                    .see_more{
                        color: #dc3441;
                    }


                    h4, p{
                        font-size: 16px;
                        font-weight: bold;
                        color: #fff;
                    }
                }
            }
        }
    }

    .box-top {
        h5, h2 {
            color: #fff;
        }
    }
}

.call-to-action {

    width: 98.6%;
    position: absolute;

    button {
        width: 100%;
        padding: 1em;
        transition: all .25s;
        font-family: var(--font-bebas);
        font-size: 1.5em;
        padding: .75em;
        color: var(--default-black);
        border: 2px solid var(--button-default-background);
        background: var(--button-default-background);
    
        &:hover{
            transition: all .25s;
            border-color: var(--default-black);
            background: var(--default-black);
            color: var(--button-default-background);
        }
    }
}

/*Fim segunda dobra*/

.terceiro-bloco {
    display: flex;
    padding: 80px 0;
    background-color: var(--color-fifth);


    .left-block{
        display:flex;

        .box-container{
            background: var(--color-fifthc);
            width: 70%;
            height: 70vh;
            margin: 0 0 0 auto;
            display:flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .viking {

                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                svg{
                    margin-left: 6%;
                }
            }
        }
    }
    


    .right-block {
        .box-container{
            display: flex;
            background-color: #fff;
            width: 70%;
            height: 70vh;

            .box-slider{
                display: flex;
                justify-content: space-around;
                width: 90%;
                flex-direction: column;
                padding: 10% 0 10% 10%;

                .projectSlides {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    svg{
                        width: 30%;
                        height: 65%;
                        position: relative;
                        /* left: -22px; */
                    }
                }
            }

        }

        .navegation{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10% 8% 20% 8%;
            border-left: 1px solid;
            border-color: rgba(76, 74, 88, .3);

            .arrows{
                margin: 0 -20px;
            }
        }
    }
}


/*Quarto bloco*/

.quarto-bloco{
    padding: 10% 5% 0% 5%;
    /* height:70vh; */
    overflow:hidden;
    background-image: linear-gradient(to bottom, var(--color-fifth), var(--default-black), var(--default-black));
    color:white;

    .cards-box {
            user-select: none;
        .card {
            /* width: 20%; */
            background:var(--color-fifthc);
            border: 2px solid var(--color-fifthc);
            //margin: 10% 0;
            //height: 50vh;
            //overflow:hidden;
            z-index: 9;
            position: relative;

            &:first-child {
                margin-left: 0;
            }

            &:hover{
                transition: all 0.5s;
                height: auto;
                margin: -2.5% 0 0 0;
                border:0;
                border-color: var(--color-fifth);
                background:white;
                color:var(--default-black);

                .see_more{
                    height:auto;
                    opacity: 1;

                    .price{
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 1em;
                    }

                    .inactive{
                        color:white;
                        display: none;
                    }
                }

                .card-text{
                    &:before {
                        background: var(--default-black);
                    }

                    h5 {
                        padding-bottom: 35px;
                        font-size: 20px;
                    }
                }

                .card-header {
                    .showpts{
                        opacity: 1;
                    }

                    svg{
                        transform:translateX(-150px);
                        width: 150px;
                        height: 150px;
                    }
                }
            }

            .see_more{
                color: #494752;
                //margin-bottom: 71px;

                button{
                    position: absolute;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    padding: 1em;
                    transition: all .25s;
                    font-family: var(--font-bebas);
                    font-size: 1.5em;
                    padding: .75em;
                    color: var(--default-black);
                    border: 2px solid var(--button-default-background);
                    background: var(--button-default-background);

                    &:hover{
                        transition: all .25s;
                        border-color: var(--default-black);
                        background: var(--default-black);
                        color: var(--button-default-background);
                    }
                }

                span{
                    &.price{
                        font-size: 2.5em;
                        font-family: var(--font-bebas);
                        color: var(--color-fifthc);
                    }
                }
            }

            .card-text {
                padding: 10px 17%;
                height:auto;

                &:before {
                    content: "";
                    position: absolute;
                    width: 25px;
                    height: 4px;
                    background: white;
                    margin: -2% 0;
                }
            }            

            .card-header {
                padding: 50px 0;
                text-align: center;
                position: relative;

                svg{
                    width: 150px;
                    height: 150px;
                    transition: all 0.5s;
                    position: relative;
                    z-index: 2;
                }

                .showpts {
                    position: absolute;
                    right: calc(50% - 35px);
                    top: 50%;
                    opacity: 0;
                    font-size: 2.5em;
                    font-family: var(--font-bebas);
                    color: var(--color-fifthc);
                    z-index: 1;
                }
            }
        }
    }
}

/*Fim quarto bloco*/


/*Quinto bloco*/
.quinto-bloco {
    display: flex; 
    background-color: var(--default-black);
    color:white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    user-select: none;

    h2{
        position: relative;
        z-index: 2;
        pointer-events: none;
    }

    h5{
        font-size: 18px;
        margin: .5em 0;
        color: #dc3441;
        position: relative;
        z-index: 2;
        pointer-events: none;
    }

    p {
        line-height: 1.5;
        position: relative;
        z-index: 2;
        pointer-events: none;
    }

    .left-block {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        position: relative;
        width: 50%;
    }
    

    .right-block {
        width: 80vw;

        .cards{
            display: flex;

            .card{
                /* padding: 0 20% 0 0; */
                position: relative;
                /* width: 400px; */
                display: flex;
                flex-direction: column;
                align-items: center;

                .card-header {
                    svg{
                        width: 150px;
                        height: 150px;
                    }
                }

                .card-container{
                    padding: 30% 0 0 0;
                    position: relative;

                    h4{
                        margin: 0 0 15px 0;
                        pointer-events: none;
                    }

                    p{
                        font-size: 13px;
                        pointer-events: none;
                    }

                    .pd-card {
                        padding-bottom: 15%;
                    }

                    .see_more {
                        opacity: 1;
                        color: #dc3441;
                    }

                    &:before {
                        content: "";
                        width: 100%;
                        height: 8px;
                        position: absolute;
                        background: rgba(76, 74, 88, .1);
                        margin: -50px 0;
                    }
                }
                
            }
        }
    }
}

/*Fim quinto bloco*/


/*Sexto bloco*/
.sexto-bloco{
    padding: 0 10vw;
    background: var(--default-black);
    color:white;

    a {
        color: tomato;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .card{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin: 0 13px 40px 0;
            align-items: center;
            justify-content: center;
            padding: 6em 0;

            h5 {
                font-size: 1em;
            }

            img{
                max-width: 45px;
                max-height: 45px;
                border-radius: 100%;
                margin: 25px;
            }
        }
    }
}

.first-card {
    /* width: 23.9%; */
    margin: 0px 13px 40px 0;
}

/*Fim sexto bloco*/


/* Footer */
footer{
    background-image: linear-gradient(to bottom, var(--default-black), var(--default-black), var(--color-fifth));
    padding: 5% 17% 5% 17%;
    display: flex;
    justify-content: space-between;

    .direitos {
        span {
            color: #fff;
        }
    }
}

/* Fim Footer */


.bloco-faq {
    background-color: var(--default-black);
}

/* CHOSE A SIDE */

.chose-a-side{
    transition: all .35s;
    display: none;
    pointer-events: none;

    .choseAdiv{
        transition: all .35s;
        opacity: 0;
        transform: translateY(-50px);
    }

    &.active {
        transition: all .35s;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 90000000;
        backdrop-filter: blur(10px);
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: fill;

        .choseAdiv{
            transition: all .35s;
            background: white;
            opacity: 1;
            transform: translateY(-50px);
            width: 50%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .choseChoices{
            margin-top: 50px;
            width: 50%;

            button{
                padding: 1.5em 1em;
                border:0;
                margin: 0 0 0 .25em;
                width: 49%;
                background: var(--color-fifthc);

                &:hover{
                    transition: all .35s;
                    background: var(--button-default-background);
                }
            }
        }
    }
}


/* END CHOSE A SIDE */


/* MODAL CONTROLLER */

.modal-controller {

    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, .5);
    position: fixed;
    top: 0;
    left:0;
    display: flex;
    align-items:center;
    justify-content:center;
    backdrop-filter: blur(10px);
    z-index: 99;

    .icon-game-over {
        transition: all .35s;
        position: absolute;
        top: 15%;
        right: 25%;
        width: 50px;
        height: 50px;
        cursor: pointer;
        color:white;

        &:hover {
            transition: all .25s;
            transform: rotate(15deg) scale(1.1);

            & + span{
                transition: all .35s;
                width: auto;
                transform: translateY(-35px);
                opacity:1;
            }
        }
    }

    &.hidden{
        transition: all .35s;
        opacity: 0;
        pointer-events: none;

        &.active{
            transition: all .35s;
            opacity: 1;
            pointer-events: fill;

            .modal-content{
                transform: translateY(10px);
            }
            
        }
    }

    span {
        transition: all .35s;
        position: absolute;
        top: 15%;
        right: 25%;
        pointer-events: none;
        font-family: var(--font-bebas);
        color:white;
        transform: translateY(0);
        width: 0;
        overflow:hidden;
        opacity: 0;
    }

    .modal-content {

        background: rgb(212, 217, 247);
        width: 50vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url('./assets/designergif.gif');
        background-position: bottom right 30px;
        background-size: 26.45%;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
        font-family: var(--font-bebas);

        h1{
            font-family: var(--font-bebas);
            font-size: 24px;
            color: var(--default-black);
            position: absolute;
            top: 5vh;
            z-index: 9;
        }

        .form-content {

            width: 96%;
            height: 100%;
            padding: 1em;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            &:before{
                content:'';
                width: 105%;
                height: 1px;
                background: var(--default-black);
                position: absolute;
                transform: rotate(-11deg);
                top: 72%;
            }

            &:after{
                content:'';
                background-image: url('./assets/logo_w.png');
                background-position: top left 30px;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                position: absolute;
                opacity: .25;
                pointer-events: none;
            }

            input{
                width: 47.6%;
                padding: .8em;
                margin: .5em 0 0 0;
                border: 0;
                background: white;
                color:var(--default-black);
                -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0, .1);
                box-shadow: 0px 0px 10px 0px rgba(0,0,0, .1);
                position: relative;

                &:focus{
                    &:valid {
                        border: 1px solid var(--button-default-background);
                        -webkit-box-shadow: 0px 0px 5px 0px rgba(73,232,50, 1); 
                        box-shadow: 0px 0px 5px 0px rgba(73,232,50, 1);
                    }
                }

                &:invalid {
                    border: 1px solid var(--color-fifthc);
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(243,55,69, 1); 
                    box-shadow: 0px 0px 5px 0px rgba(243,55,69, 1); 
                }
            }

            .btn-submit{
                margin: .5em 0 0 0;
                transition: all .25s;
                width:50%;
                padding: 1em;
                background: var(--default-black);
                border:0;
                cursor: pointer;
                z-index: 9;
                text-transform: uppercase;
                font-weight: bold;
                color: white;
                -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);

                &:hover{
                    transition: all .25s;
                    transform: scale(1.02);
                }
            }

            .spin {

                position: absolute;
                pointer-events: none;
                width: 102%;
                height: 100%;
                background:white;
                z-index: 9;
                display:flex;
                align-items: center;
                justify-content:center;

                &.hidden{
                    transition: all .25s;
                    opacity:0;
                }

                svg{
                    width: 40%;
                    height: 40%;
                    animation: rotateShake 6s infinite ease-in-out;
                }
            }
        }
    }
}

.messageError, .messageSuccess {
    padding: 1em;
    position: absolute;
    z-index: 1;
    bottom: 0;
    border-radius: 10px 10px 0 0;
}

.messageError p, .messageSuccess p {
    font-size: 18px !important;
    font-family: 'Bebas Neue';
}


.messageError.hidden, .messageSuccess.hidden{
    transition: all .35s;
    transform: translate(0, 110%);
    opacity: 0;
}

.messageError{
    background: var(--color-fifthc);
}

.messageSuccess{
    background: var(--default-black);

    p{
        color: var(--button-default-background);
    }
}


/* END MODAL CONTROLLER */