.case-controller{
    padding: var(--padding-container-md);
    text-align: center;
    
    .title{
        span{
            font-family: var(--font-roboto);
            font-size: calc(var(--lg) * 1.5);
            font-weight: bold;
        }
    }
    
    .subtitle{
        span{
            font-family: var(--font-roboto);
            padding-top: var(--space-md);
            font-size: var(--md);
            font-weight: normal;
            width: 70%;
        }
    }

    .case-list{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--space-lg);
        flex-wrap: wrap;
        .case-loop{
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 160px;
            flex-wrap: wrap;
            margin-right: calc(var(--space-lg) * 1.5);

            .case-image{
                img {
                    object-fit: contain;
                    max-width: 120px;
                    max-height: 100px;
                    transition: var(--slow);
                    filter: grayscale(100);
                    &:hover{
                        transition: var(--slow);
                        filter: grayscale(0);
                    }
                }
            }

            .case-link {
                max-width: 15px;

                a{
                    color: var(--third-color);
                    &:hover{
                        color: var(--success);
                    }
                }
            }
        }
    }
}