.devcases-controller{
    padding: var(--padding-container);
    .rank-controller{

        padding: var(--space-lg) 0 0 0;

        display: flex;
        border-bottom: 2px solid var(--primary-color);

        .level-rank{
            position: relative;
            height: 200px;
            flex: 1;

            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover{
                .rank-points{
                    transition: var(--normal);

                    .rank-point {
                        transition: var(--normal);
                        transform: rotate(90deg) translate(60px, 0) scale(1.12);
                    }

                    progress{
                        transition: var(--normal);
                        &::-webkit-progress-value {
                            transition: var(--normal);
                            color: var(--sixth-color);
                        }
                    }
                }
            }

            .card-class{

                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img{
                    max-width: 75px;
                }

                .classname{

                }

                .level-info{

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 150px;

                    .level{
                        position: absolute;
                        right: -25px;
                        top: 0;
                        border: 2px solid;
                        font-weight: bold;
                        color: var(--third-color);
                        padding: 4px 7px 3px 8px;
                        border-radius: 100%;
                        font-size: var(--sm);

                        &:after{
                            content: "lvl";
                            position: absolute;
                            right: -15px;
                            bottom: 15px;
                            font-size: 8px;
                            font-weight: bold;
                        }
                    }

                    .exp{
                        font-size: var(--sm);
                        font-weight: bold;
                        &:after{
                            content: 'XP';
                        }
                    }

                    progress{

                        height: 10px;
                        width: 50%;
                        margin: calc(var(--space-sm) / 2) 0;
    
                        &::-webkit-progress-bar {
                            background-color: rgba(0, 0, 0, .05);
                            border-radius: 0 7px 7px 0;
                            height: 6px;
                            overflow: visible;
                        }
    
                        &::-webkit-progress-value {
                            transition: var(--normal);
                            background-color: var(--sixth-color);
                            border-radius: var(--borders);
                        }
                    }
                }
            }

            .rank-points{
                transition: var(--normal);
                position: absolute;
                right: 0;
                bottom: 0;
                transform: rotate(-90deg) translate(87px, 0);
                width: 200px;
                height: 26px;

                .rank-point {
                    transition: var(--normal);
                    transform: rotate(90deg) translate(60px, 0);
                    display: block;
                    width: 35px;

                    &:after{
                        content:'pts';
                        position: absolute;
                        font-size: var(--sm);
                        font-weight: bold;
                    }
                }

                progress{

                    height: 10px;

                    &::-webkit-progress-bar {
                        background-color: transparent;
                        border-radius: 0 7px 7px 0;
                        height: 10px;
                        overflow: visible;
                    }

                    &::-webkit-progress-value {
                        transition: var(--normal);
                        background-color: var(--fifth-color);
                        border-radius: 0 7px 7px 0;
                        height: 6px;
                    }
                }
            }
        }
    }

    .info-classes{
        display: flex;
        position: relative;
        .classes-presentation, .max-lvl-info{
            flex:1;
        }

        .see-more{
            position: absolute;
            max-width: 44px;
            padding: var(--space-sm);
            bottom: 15px;
            left: 22%;
            cursor: pointer;

            &.active{
                svg{
                    transition: var(--normal);
                    transform: rotateX(180deg);
                }
            }

            svg{
                transition: var(--normal);
                pointer-events: none;
            }
        }

        .classes-presentation{
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            height: 150px;
            margin: var(--space-lg) 0;
            transition: var(--slow);

            &.showMore{
                transition: all 1s;
                height: 450px;
                //overflow: visible;
            }

            div[class^='class-']{
                width: 15%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: var(--space-sm);
                height: 150px;

                span{
                    font-size: var(--sm);
                    margin: var(--sm) 0;
                }

                img{
                    max-width: 75px;
                }
            }
        }

        .max-lvl-info{
            .award-percentage{
                display: flex;
                ul{
                    flex: 1;
                    li{
                        span{
                            font-size: var(--md);
                        }
                    }
                }
            }
        }
    }
}