.footer-controller{
    padding: var(--padding-container);
    background: var(--primary-color);
    .logo{
        max-width: 80px;
        svg{
            color: white;
        }
    }

    .copy{

        strong{
            text-decoration: none;
            font-family: new-order, sans-serif;
            font-weight: 700;
            font-style: normal;
            text-transform: uppercase;
        }

        span, strong{
            font-family: var(--font-name);
            .footer-copy{
                margin-left: var(--space-sm);
            }

            small{
                font-size: var(--sm);
                font-family: var(--font-name);
            }
        }
        text-align: right;
        color: white;
    }
}