.leads-controller{
    padding: calc(var(--space-lg) * 4);

    .rich-content{
        position: relative;
    }


    .gif-controller {
        max-width: 145.91px;
        height: 308.63px;
        overflow: hidden;
        position: absolute;
        right: 0;
        bottom: -4em;
        border-radius: 14px;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);
        img{
            width: 480px;
            transform: translate(-167.04px, -26px);
        }
    }


    .video-controller{

        overflow: hidden;
        max-width: 785.47px;
        max-height: 503.88px;
        border-radius: 37px;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, .15);

        .lead-dash {
            max-width: 864px;
            transform: translate(-39px, -66px);
        }
    }

    .action-content{

        padding-left: var(--space-lg);

        .title{
            span{
                font-family: var(--font-roboto);
                font-size: calc(var(--lg) * 1.5);
                font-weight: bold;
            }
        }
    
        .subtitle{
            span{
                font-family: var(--font-roboto);
                font-size: var(--md);
            }
        }


        form{

            width: 50%;
    
            input{
                width: 100%;
                border: 1px solid rgba(0, 0, 0, .15);
                font-size: var(--md);
                border-radius: var(--bordern);
                font-family: var(--font-roboto);
                margin: var(--sm) 0;
                padding: var(--space-md);

                &.success{
                    border-color: var(--success);
                    font-weight: bold;
                }
            }
        }
    }


}