.login-form, .makepay-controller, .payment-controller{
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        font-weight: normal;
    }
    form{
        padding: var(--space-md);
        background: var(--primary-color);
        .field-container{
            input{
                background: white;
                padding: var(--space-sm);
                margin-bottom: var(--space-sm);
            }

            button{
                padding: var(--space-sm);
                background: var(--sixth-color);
                color: var(--primary-color);
                width: 100%;
            }
        }
    }
}

.makepay-controller, .payment-controller{
    flex-direction: column;
    h1{
        font-size: 150%;
    }
    form{
        width: 35%;
        .field-container{
            input{
                width: 100%;
            }
        }

        @media only screen and (max-width:992px){
            width: 100%;
        }
    }
}

.payment-controller{
    justify-content: space-around;

    .logo{
        transition: all .45s;
        color: var(--third-color);
        &.active{
            transition: all .5s;
            color: var(--success);
        }
    }

    .payment-content, .redirect-container {
        padding: var(--space-md);
        text-align: center;
        width: calc(300px + var(--space-md));
        
        .contract, .project, .price{
            display: flex;
            justify-content: space-between;
            strong{
                margin-left: var(--space-md);
            }
        }
    }
}

.redirect-container{
    .message{
        font-size: 80%;
    }
    .btn{
        max-width: 100%;
        margin-top: var(--space-md);
        text-decoration: none;
    }
}

.makepay-controller{
    form{
        &.makepay{
            .field-container{
                label{
                    height: 46px;
                    width: 10px;
                    position: absolute;
                    color:white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: rgba(255, 255, 255, .07);
                    svg{
                        height: 15px;
                        width: 15px;
                    }
                }
    
                input{
                    padding-left: 16px;
                }
            }
        }
    }
}

.login-form, .makepay-controller{
    flex-direction: column;

    form{
        background: transparent;
        .field-container{
            position: relative;
            background: transparent;

            label{
                height: 46px;
                width: 35px;
                position: absolute;
                color:white;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(255, 255, 255, .07);
                svg{
                    height: 15px;
                    width: 15px;
                }
            }

            input{
                background: var(--primary-color);
                color: white;
                border-radius: var(--borders);
                padding-left: 46px;
                &::placeholder{
                    color: white;
                }
            }

            button{
                transition: var(--slow);
                border-radius: var(--borders);
                &:hover{
                    transition: var(--slow);
                    background: var(--primary-color);
                    color: var(--sixth-color);
                }
            }
        }
    }

    a{
        color: var(--primary-color);
        width: 150px;
    }
}