.nav-controller{
    padding: var(--space-sm);
    //PREVENTS USE HOSTLISTENER
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    background: white;
    box-shadow:1px 1px 25px 0px rgba(0, 0, 0, 0.15);

    &.dev{
        .nav-content{
            .menu{
                .list-menu{
                    .menu-item{
                        &:hover{
                            transition: var(--fast);
                            color: var(--fifth-color);
                        }
                    }
                }
            }
        }
    }

    .nav-content{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .logo{
            max-width: 80px;
            svg{
                color: var(--primary-color);
            }
        }
        .menu{
            .list-menu{
                display: flex;
                .menu-item{
                    transition: var(--fast);
                    margin: 0 var(--space-md);
                    &:hover{
                        transition: var(--fast);
                        color: var(--third-color);
                    }
                }
            }
        }
        .action{
            display: flex;
            .btn{
                font-size: 90%;
                margin: 0 calc(var(--space-sm) / 2);
            }
        }
        .languages{
            .lang{
                max-width: 30px;
                max-height: 30px;
                transition: var(--fast);

                &:hover{
                    transition: var(--fast);
                    transform: rotate(-10deg);
                }
            }
        }
    }
}