.work-controller{
    padding: var(--padding-container-sm); 

    .work-title{
        .title{
            color: var(--primary-color);
            font-size: calc(var(--lg) * 1.5);
            font-family: var(--font-roboto);
            font-weight: 500;
            padding: var(--space-lg) 0;
            text-align: center;
        }
    }

    .work-list{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .work-loop{
            max-width: 300px;
            max-height: 300px;
            display: flex;

            &.empty-pt, &.empty-en{
                margin: 15px;
            }

            .work{
                //padding: var(--space-lg);
                width: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                i{
                    color:var(--third-color);
                }

                .title{
                    margin: var(--sm) 0 0 0;
                    font-family: var(--font-roboto);
                }

                .description{
                    text-align: center;
                    font-size: calc(var(--sm) * 1.25);
                    font-family: var(--font-roboto);
                    margin: var(--sm) 0;
                }
            }
        }
    }

    .card-controller{
        display:block;
        width:100%;
        height:100%;
        padding: var(--space-lg);
        cursor:pointer;

        &:hover > .card {
            //background:var(--primary-color);
            transform: rotateY(180deg);
        }

        .card {
            width: 300px;
            height: 200px;
            transform-style: preserve-3d;
            transition: transform 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            border-radius: 6px;
            box-shadow: 0 6px 16px rgba(0,0,0,0.15);
            pointer-events:none;
            cursor: pointer;
    
            div {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                border-radius: 6px;
                background: white;
                display: -ms-flexbox;
                display: flex;
                -o-box-pack: center;
                justify-content: center;
                -o-box-align: center;
                align-items: center;
                font-family: var(--font-roboto);
                -webkit-font-smoothing: antialiased;
                color: var(--primary-color);
                padding: var(--space-md);
                border: 1px solid rgba(0,0,0,0.15);
            }

            .front{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
    
            .back {
                transform: rotateY(180deg);
            }
        }
    }
      
}