.container{
    .row{
        display:flex;
        align-items: center;
        .column{
            flex:1;

            &.gamified{
                overflow: hidden;
                padding: var(--space-md);
                border: 2px solid var(--primary-color);
                border-radius: var(--borders);
            }

            .three-cards{
                display: flex;
            }

            &.relative{
                position: relative;
            }

            &.flexed{
                display: flex;
                &.centered{
                    &.vertically{
                        align-items: center;
                    }

                    &.horizontally{
                        justify-content: center;
                    }
                }
            }
        }
    }
}