.box-slider {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    user-select: none;

    &:hover{
        .navigation{
            transition: width .45s;
            width: 100px;
            overflow: visible;
            border-bottom: 2px solid;
            border-top: 2px solid;
            border-left: 2px solid;
            padding: 0 var(--sm);

            .dots{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
    
                .dot {
                    cursor: pointer;
                    pointer-events: none;
                    height: 10px;
                    width: 10px;
                    margin: 15px auto;
               
                    /*background-color: rgba(9,9,9,0.1);*/
                    background-color: var(--primary-color);
                    border-radius: 50%;
                    display: inline-block;
                    transition: background-color 0.6s ease;
            
                    &.active, &:hover {
                        background-color: var(--fifth-color);
                        &::after {
                            content: "";
                            position: absolute;
                            border: 1px solid var(--fifth-color);
                            border-radius: 10px;
                            margin: -3px -3px;
                            height: 14px;
                            width: 14px;
                            border: 1px solid var(--fifth-color);
                        }
                    }
                }
    
                .slider-dot{
                    transition: var(--normal);
                    &.active{
                        transition: var(--normal);
                        &::after {
                            transition: var(--normal);
                            content: "";
                            position: absolute;
                            border-radius: 10px;
                            margin: -3px -3px;
                            height: 14px;
                            width: 14px;
                        }
                    }
                }
            }
            
        }

    }

    .roll{
        height:100%;
        overflow:visible;
        padding: var(--space-md);


        &.squad-slide{

            border: 2px solid var(--primary-color);
            border-radius: var(--borders);

            .icon, .dev-title, .dev-subtitle{
                opacity: 1;
                transition: var(--normal);
                transition-delay: .30s;
                transform: translateX(0);
            }

            .dev-title{
                transition-delay: .45s;
            }

            .dev-subtitle{
                transition-delay: .65s;
            }

        }
    
        &.rock{
            &.squad-slide{

                height:0;
                overflow: hidden;
                padding: 0;
                min-height: 0;
                border: 0;

                .icon, .dev-title, .dev-subtitle{
                    opacity: 0;
                    transition: var(--normal);
                    transition-delay: .15s;
                    transform: translateX(25px);
                }

                .dev-title{
                    transition-delay: .20s;
                }
    
                .dev-subtitle{
                    transition-delay: .25s;
                }
    
            }
        }
    }
      
    .rock{
        height:0;
        overflow: hidden;

        &.squad-slide{

            height:0;
            overflow: hidden;
            padding: 0;
            min-height: 0;

            .icon, .dev-title, .dev-subtitle{
                transition: var(--normal);
                transition-delay: .15s;
                transform: translateX(25px);
            }

            .dev-title{
                transition-delay: .20s;
            }

            .dev-subtitle{
                transition-delay: .25s;
            }

        }
    }

    .navigation{

        transition: width .45s;
        width: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 0;
        border-radius: var(--borders);

        .arrows{

            width: 100%;

            .next, .prev{
                &-arrow{
                    color: var(--primary-color);
                    width: 20px;
                    height: 35px;
                    cursor: pointer;

                    &.inactive{
                        cursor:no-drop;
                        pointer-events: none;
                        opacity: .5;
                    }
                }
            }

        }

        .dots{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .dot {
                cursor: pointer;
                pointer-events: none;
                height: 10px;
                width: 10px;
                margin: 15px auto;
           
                /*background-color: rgba(9,9,9,0.1);*/
                background-color: var(--primary-color);
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
        
            }
        }


    
    }
    

    .slideshow-container{
        height: 331px;
        overflow: hidden;

        .squad-slide{
            .icon{
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 100px;
            }
        }
    }
    
}

