:root{
    --sixth-color:  #06e757;
    --fifth-color: #0F53FA;
    --fourth-color:  #f06135;
    --third-color:   #ff2e40;
    --danger-color:  #fffb00;
    --second-color:  #e8e8e8;
    --primary-color: #2a2b2f;
    --font-name: 'Poppins', sans-serif;
    --text-color: rgba(29, 41, 63, 1);
    --subtext-color: rgba(124, 128, 135, 1);


    //DEVICES CONTROLLER
    --bg-color: white;
    --outline: rgba(0, 0, 0, .1);

    //FONT
    --sm: 12px;
    --md: 16px;
    --lg: 20px;
    --xl: 24px;

    //NOTIFICATION COLOR
    --success: #37f89b;
    --error: #ff1465;

    //SPACING
    --space-sm: .5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;

    //TRANSITION
    --slow: all .45s;
    --normal: all .30s;
    --fast: all .15s;
    
    //BORDER
    --borderb: 1em;
    --bordern: .5em;
    --borders: .25em;

    //CONTAINER PADDING
    --padding-container: calc(var(--space-lg) * 2) calc(var(--space-lg) * 4);
    --padding-container-md: calc(var(--space-lg) * 4);
    --padding-container-sm: calc(var(--space-lg) * 2);
    --padding-top-container: 0 calc(var(--space-lg) * 4);
}
